/* MiniChef.css */
.mini-chef-overlay {
  position: fixed;
  top: 72px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.mini-chef__content {
  position: relative;
  display: flex;
  align-items: center;
}

.mini-chef__img {
  width: 500px;
  animation: slideUp 0.8s ease-out, slideLeft 6s ease-out 1s;
  position: relative;
}

.mini-chef__welcome-text {
  margin-left: 20px;
  color: white;
  font-size: 3rem;
  font-weight: 500;
  opacity: 0;
  animation: fadeIn 0.2s forwards 1s; /* Fade in after image slides left */
}

.foodmood {
  font-size: 6rem;
  color: rgb(255, 211, 36);
  font-weight: 800;
}

#mood {
  font-weight: 800;
  color: rgb(238, 114, 6);
}

#welcome {
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
}

/* Keyframes for animations */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200px); /* Slide to the left */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Styles */

/* Tablets */
@media (max-width: 768px) {
  
  .mini-chef__content {

    display: flex;
    align-items: center;
    flex-direction: column;
}
  .mini-chef__img {
    width: 300px; /* Reduce image size */
  }

  .mini-chef__welcome-text {
    font-size: 2rem; /* Adjust font size */
  }

  .foodmood {
    font-size: 4rem;
  }

  #mood {
    font-size: 4rem;
  }

  #welcome {
    font-size: 3rem;
  }

  .close-button {
    font-size: 32px; /* Reduce close button size */
  }
  @keyframes slideLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-30px); /* Slide to the left */
    }
  }
}

/* Mobile Devices */
@media (max-width: 480px) {
  .mini-chef__img {
    width: 200px; /* Further reduce image size */
  }

  .mini-chef__content {

    display: flex;
    align-items: center;
    flex-direction: column;
}

  .foodmood {
    font-size: 3rem;
  }

  #mood {
    font-size: 2rem;
  }

  #welcome {
    font-size: 2rem;
  }

  .close-button {
    font-size: 28px; /* Further reduce close button size */
  }
  @keyframes slideLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-30px); /* Slide to the left */
    }
  }
}
